/*******Adattamento per ipad*******/
@media screen and (max-width:768px){
    .container {
        max-width:100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}
/************/


/*******Adattamento per mobile*******/
@media screen and (max-width: 480px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width:100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .row>.col {
        width: calc(100% / 1);
        padding: 5%;
    }

    .steps{
        margin-bottom: 0;
    }

    .why-us{
        background-color: #222222;
        padding: 3rem 0;
        margin-bottom: 0;
    }
}
/************/